django
gunicorn
dj-database-url
psycopg2-binary
whitenoise
requests
openai
scikit-learn
xgboost
shap
django-cors-headers
python-dotenv
scipy
google-generativeai
tenacity
jdatetime
pytz
uvicorn
djangorestframework
numpy
pandas
git+https://github.com/twopirllc/pandas-ta.git@0.3.14b
git+https://github.com/cgohlke/talib-builds@main#subdirectory=talib_precompiled/0.4.25
httpx
#final deploy trigger v33.0
