django
gunicorn
dj-database-url
psycopg2-binary
whitenoise
requests
openai
scikit-learn
xgboost
shap
ta
django-cors-headers
python-dotenv
scipy
google-generativeai
tenacity
jdatetime
pytz
uvicorn
djangorestframework
numpy
pandas
pandas-ta==0.3.14b
TA-Lib-Precompiled==0.4.25
httpx
#final deploy trigger v33.0
